<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <title>facebook clone</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="main">
          <div class="brand"></div>
          <form class="search">
            <button class="search-button">
              <svg
                class="search-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 30 30"
                width="30px"
                height="30px"
              >
                <path
                  style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal"
                  d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"
                  font-weight="400"
                  font-family="sans-serif"
                  white-space="normal"
                  overflow="visible"
                />
              </svg>
            </button>
            <input
              class="search-input"
              type="search"
              placeholder="Search Facebook"
            />
          </form>
        </div>

        <nav>
          <ul class="nav">
            <li class="item -active">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
            <li class="item">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
            <li class="item">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
            <li class="item">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
            <li class="item">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
            <li class="item">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
            <li class="item">
              <a class="center-xy" href=""
                ><span class="icon circulito"></span
              ></a>
            </li>
          </ul>
        </nav>

        <div class="settings">
          <a class="circulito" href=""></a>
        </div>
      </header>

      <aside class="main-nav">
        <div class="section-title -big">
          <div class="title">Home</div>
          <div class="action">
            <a class="link" href="">Create</a>
          </div>
        </div>
        <div class="main-nav-list">
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Not-So Secret Family Recipes</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Red Table Talk Group</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Events</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Saves</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Gaming</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Fundraisers</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Memories</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Help & Support</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">Settings & Privacy</span>
          </div>
          <div class="item-list">
            <div class="circulito image"></div>
            <span class="name">See More</span>
          </div>
        </div>
      </aside>

      <main class="timeline">
        <section class="stories-section">
          <div class="section-title">
            <div class="title">Stories</div>
            <div class="action">
              <a class="link" href="">See All</a>
            </div>
          </div>
          <div class="stories-list">
            <article>
              <a href="" class="story">
                <img
                  class="image"
                  src="https://picsum.photos/id/64/110/195"
                  alt=""
                />
                <div class="author -own">
                  <span
                    class="image"
                    style="background-image: url(https://picsum.photos/id/64/110/195)"
                    alt=""
                  ></span>
                </div>
                <span class="title">Add to <br />story</span>
              </a>
            </article>
            <article>
              <a href="" class="story">
                <img
                  class="image"
                  src="https://picsum.photos/id/65/110/195"
                  alt=""
                />
                <div class="author">
                  <img src="https://picsum.photos/id/34/40/40" alt="" />
                </div>
                <span class="title">Add to <br />story</span>
              </a>
            </article>
            <article>
              <a href="" class="story">
                <img
                  class="image"
                  src="https://picsum.photos/id/66/110/195"
                  alt=""
                />
                <div class="author">
                  <img src="https://picsum.photos/id/35/40/40" alt="" />
                </div>
                <span class="title">Add to <br />story</span>
              </a>
            </article>
            <article>
              <a href="" class="story">
                <img
                  class="image"
                  src="https://picsum.photos/id/55/110/195"
                  alt=""
                />
                <div class="author">
                  <img src="https://picsum.photos/id/16/40/40" alt="" />
                </div>
                <span class="title">Add to <br />story</span>
              </a>
            </article>
            <article>
              <a href="" class="story">
                <img
                  class="image"
                  src="https://picsum.photos/id/45/110/195"
                  alt=""
                />
                <div class="author">
                  <img src="https://picsum.photos/id/22/40/40" alt="" />
                </div>
                <span class="title">Add to <br />story</span>
              </a>
            </article>
          </div>
        </section>

        <div class="add-post center-xy card">
          <span class="profile circulito"></span>
          <a href="" class="button-main center-xy">Add post</a>
          <span class="button-second circulito -small"></span>
        </div>

        <section class="post-list">
          <section class="post-item card">
            <div class="post-header">
              <div class="item-list">
                <div class="circulito image"></div>
                <span class="name">Aiden Brown</span>
              </div>
              <p class="post-text">Not having fun at all ;P</p>
            </div>
            <img
              class="image"
              src="https://picsum.photos/id/90/500/296"
              width="500"
              height="296"
              alt=""
            />
          </section>

          <section class="post-item card">
            <div class="post-header">
              <div class="item-list">
                <div class="circulito image"></div>
                <span class="name">Giacomo</span>
              </div>
              <p class="post-text">sadsad</p>
            </div>
            <img
              class="image"
              src="https://picsum.photos/id/91/500/296"
              width="500"
              height="296"
              alt=""
            />
          </section>

          <section class="post-item card">
            <div class="post-header">
              <div class="item-list">
                <div class="circulito image"></div>
                <span class="name">Sayda</span>
              </div>
              <p class="post-text">sadsa</p>
            </div>
            <img
              class="image"
              src="https://picsum.photos/id/92/500/296"
              width="500"
              height="296"
              alt=""
            />
          </section>

          <section class="post-item card">
            <div class="post-header">
              <div class="item-list">
                <div class="circulito image"></div>
                <span class="name">Jhose Frank</span>
              </div>
              <p class="post-text">Start a new life</p>
            </div>
            <img
              class="image"
              src="https://picsum.photos/id/93/500/296"
              width="500"
              height="296"
              alt=""
            />
          </section>
        </section>
      </main>

      <!-- Sidebar -->
      <aside class="sidebar">
        <div class="sidebar-title">
          <div class="title">Contacts</div>
          <div class="action">
            <a class="link" href="">...</a>
          </div>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Dennis Han</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Eric Jones</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Cynthia Lopez</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Anna Becklund</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Aiden Brown</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Betty Chen</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Dan Brown</span>
        </div>
        <div class="item-list">
          <div class="circulito image"></div>
          <span class="name">Henri Cook</span>
        </div>
      </aside>
    </div>
  </body>
</html>
